# Instead of blacklisting all the files in /target,
# I just added the directory, works okay.
target/

# Other basic java stuff
*.jar
*.class
*.lst
*.args

# Sometimes maven reduces the dependencies when
# packaging into a jar, so remove that as well
dependency-reduced-pom.xml