.game-pane {
    -fx-background-color: #3d3d3d;
    -fx-border-width: 4px;
    -fx-border-color: #1d1d1d #565656 #565656 #1d1d1d;
    -fx-border-style: solid outside;
}

.config-pane {

    -fx-background-color: #464646;
    -fx-border-width: 1px;
    -fx-border-color: #565656;
    -fx-border-style: hidden hidden solid hidden;

}

.counter {
    -fx-background-color: #000000;
    -fx-border-width: 2px;
    -fx-border-color: #1d1d1d #565656 #565656 #1d1d1d;
    -fx-border-style: solid outside;
}