/*
Main stylesheet

may be subject to change if different themes are added
*/

@font-face {

    src: url('./Inconsolata.ttf');

}

/* Style used for TilePane/StatPane */
.game-pane {
    -fx-background-color: #3d3d3d;
    -fx-border-width: 4px;
    -fx-border-color: #1d1d1d #565656 #565656 #1d1d1d;
    -fx-border-style: solid outside;
}

/* Style used for every button and its hovered/pressed states */
.button {

    -fx-background-color: #3d3d3d;
    -fx-background-radius: 0px;

    -fx-border-width: 2px;
    -fx-border-color: #565656 #1d1d1d #1d1d1d #565656;
    -fx-border-style: solid outside;

    -fx-font-family: Inconsolata;
    -fx-font-size: 17px;
    -fx-text-fill: #d0d0d0;

    -fx-padding: 0px 3px 0px 3px;

}

.icon-button {

    -fx-alignment: CENTER-LEFT;

}

.button:pressed {

    -fx-background-color: #353535;

    -fx-border-color: #1d1d1d #565656 #565656 #1d1d1d;

}

.pane-permanent-press {

    -fx-background-color: #353535;

    -fx-border-color: #1d1d1d #565656 #565656 #1d1d1d;

}

/* Style used for the counters */
.counter {

    -fx-background-color: #000000;
    -fx-border-width: 2px;
    -fx-border-color: #1d1d1d #565656 #565656 #1d1d1d;
    -fx-border-style: solid outside;

}